// MIXIN FOR STATS TYPE VIEW
mixin og(data)
  .row
    .col-xs-2.col-xs-offset-2  OG:
    .col-xs-8 #{data.OG.from.toFixed(2)} - #{data.OG.to.toFixed(2)}
  .row
    .col-xs-2.col-xs-offset-2  FG:
    .col-xs-8 #{data.FG.from.toFixed(2)} - #{data.FG.to.toFixed(2)}
  .row
    .col-xs-2.col-xs-offset-2  SRM:
    .col-xs-8 #{data.SRM.from} - #{data.SRM.to}
  .row
    .col-xs-2.col-xs-offset-2  IBU:
    .col-xs-8 #{data.IBU.from} - #{data.IBU.to}
  .row
    .col-xs-2.col-xs-offset-2  ABV%
    .col-xs-8 #{data.ABV.from.toFixed(1)} - #{data.ABV.to.toFixed(1)}

// MIXIN FOR LIST TYPE VIEW
mixin attr(data, field)
  ul
    each line in data[field]
      li= line

// MIXIN FOR TRUE-FALSE QUESTIONS
// BASED ON QUESTION DATABASE, MOSTYLY FROM STUDY GUIDE
mixin true_false(question, options, answer)
  - var attr;
  - function toTitleCase(str){ return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); }

  .row
    .col-sm-12
      - attr = { "data-style": question.style_id, "data-answer": answer}
      h3#question.text-center&attributes(attr)= question.body
  .row
    each option, index in options
      .col-lg-6.col-sm-6.all-answers(data-style="#{option}")
        - attr = { "data-answer": index }
        .answer-option.true-false&attributes(attr)= ['true', 'false'].indexOf(option) > -1 ? toTitleCase(option) : option

// MIXIN FOR REVERSE MULTIPLE CHOICE QUESTION
// QUESTIONS GENERATED RANDOMLY
mixin m_choice_reverse(question, options, answer)
  - var attr;
  .row
    .col-sm-12
      - attr = { "data-style": question.style_id, "data-answer": answer}
      h3#question.text-center&attributes(attr)= question.body
  .row
    .col-sm-offset-2.col-sm-8.characteristics
      if question.characteristics.OG
        +og(question.characteristics)
      else
        +attr(question.characteristics, Object.keys(question.characteristics)[0])
  .row
    each option, index in options
      .col-lg-6.col-sm-6.all-answers(data-style="#{option}")
        - attr = { "data-answer": index }
        .answer-option.true-false&attributes(attr)= option

// MIXIN FOR STANDARD MULTIPLE CHOICE QUESTION
// QUESTIONS GENERATED RANDOMLY
mixin m_choice_normal(question, options, answer)
  - var attr;
  .row
    .col-sm-12
      - attr = { "data-style": question.style_id, "data-answer": answer}
      h3#question.text-center&attributes(attr)= question.body
  .row
    each option, index in options
      - attr = { "data-style": option.style_id, "data-answer": index}
      .col-lg-6.col-sm-6.all-answers.m-choice
        .answer-option&attributes(attr)
          if question.field === "OG"
            +og(option)
          else
            +attr(option, question.field)

// MIXIN FOR FILING THE STYLE STATS (OG, FG, etc)
// QUESTIONS GENERATED RANDOMLY
mixin check_style(question, options, answer)
  - var attr;
  .row
    .col-sm-12
      - attr = { "data-style": question.style_id, "data-answer": answer}
      h3#question.text-center&attributes(attr)= question.body

  form(enctype="multipart/form-data", method="POST").form-horizontal.ticket-form#check-style-form
    .form-group.row
      label.col-sm-1.col-sm-offset-4.col-xs-offset-0.col-xs-3.control-label(for="styleOG") Original Gravity
      .col-sm-1.col-xs-3
        input#og-from.style-data.form-control(value='*.***', disabled)&attributes({"data-value": options.OG.from.toFixed(3), name: 'og_from'})
      .col-sm-1.col-xs-3
        input#style-og.form-control(type="number", min="0.990", max="1.200", step="0.001", name="og")
      .col-sm-1.col-xs-3
        input#og-to.style-data.form-control(value='*.***', disabled)&attributes({"data-value": options.OG.to.toFixed(3), name: 'og_to'})
    .form-group.row
      label.col-sm-1.col-sm-offset-4.col-xs-offset-0.col-xs-3.control-label(for="styleFG") Final Gravity
      .col-sm-1.col-xs-3
        input#fg-from.style-data.form-control(value='*.***', disabled)&attributes({"data-value": options.FG.from.toFixed(3), name: 'fg_from'})
      .col-sm-1.col-xs-3
        input#style-fg.form-control(type="number", min="0.990", max="1.200", step="0.001",name="fg")
      .col-sm-1.col-xs-3
        input#fg-to.style-data.form-control(value='*.***', disabled)&attributes({"data-value": options.FG.to.toFixed(3), name: 'fg_to'})
    .form-group.row
      label.col-sm-1.col-sm-offset-4.col-xs-offset-0.col-xs-3.control-label(for="styleSRM") SRM
      .col-sm-1.col-xs-3
        input#srm-from.style-data.form-control(value='*', disabled)&attributes({"data-value": options.SRM.from, name: 'srm_from'})
      .col-sm-1.col-xs-3
        input#style-srm.form-control(type="number", name="srm", min="1", max="40")
      .col-sm-1.col-xs-3
        input#srm-to.style-data.form-control(value='*', disabled)&attributes({"data-value": options.SRM.to, name: 'srm_to'})
    .form-group.row
      label.col-sm-1.col-sm-offset-4.col-xs-offset-0.col-xs-3.control-label(for="styleIBU") IBU
      .col-sm-1.col-xs-3
        input#ibu-from.style-data.form-control(value='*', disabled)&attributes({"data-value": options.IBU.from, name: 'ibu_from'})
      .col-sm-1.col-xs-3
        input#style-ibu.form-control(type="number", min="0", max="120", name="ibu")
      .col-sm-1.col-xs-3
        input#ibu-to.style-data.form-control(value='*', disabled)&attributes({"data-value": options.IBU.to, name: 'ibu_to'})
    .form-group.row
      label.col-sm-1.col-sm-offset-4.col-xs-offset-0.col-xs-3.control-label(for="styleABV") ABV%
      .col-sm-1.col-xs-3
        input#abv-from.style-data.form-control(value='*.*', disabled)&attributes({"data-value": options.ABV.from.toFixed(1), name: 'abv_from'})
      .col-sm-1.col-xs-3
        input#style-abv.form-control(type="number", min="0", max="20", step="0.1", name="abv")
      .col-sm-1.col-xs-3
        input#abv-to.style-data.form-control(value='*.*', disabled)&attributes({"data-value": options.ABV.to.toFixed(1), name: 'abv_to'})
    .form-group.row
      label.col-sm-3.col-sm-offset-3.col-xs-7.col-xs-offset-0.control-label(for="styleABV") Ready? Check if you're correct.
      .col-sm-2.col-xs-5
        button#check-style-stubmit.btn.btn-lg.btn-info(type="submit") Check the Style
